<main>
    <div class="container body-content span=8 offset=2">
        <div class="jumbotron">
            <form class="form-horizontal" th:action="@{/comment/create/{id}(id=${article.id})}" method="POST">
                <fieldset>

                 <!--   <article>
                        <header>
                            <h2 th:text="${article.title}"></h2>
                        </header>

                        <p th:text="${article.content}"> </p>

                        <small class="author" th:text="${article.author.fullName}"></small>
                    </article>-->

                        <legend>New Comment</legend>



                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="comment_content">Comment</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="comment_content" name="content"></textarea>
                        </div>
                    </div>

                   <!-- <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_category">Category</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="article_category" name="categoryId">
                                <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_tags">Tags</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_tags" placeholder="Tags" name="tagString"/>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input type="submit" class="btn btn-success" value="Submit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>

