<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content span=8 offset=2">
        <div class="jumbotron">
            <form class="form-horizontal" th:action="@{/comment/list-comment/{id}(id=${article.id})}" method="POST">

            <article>
                <header>
                    <h2 th:text="${article.title}"></h2>
                </header>

                <p th:text="${article.content}"> </p>

                <small class="author" th:text="${article.author.fullName}"></small>

            </article>

                <th:block th:each="comment:${comments}">
                <div class="col-md-6">
                    <comment>
                        <p th:text="${comment.content}"></p>
                    </comment>
                </div>
            </th:block>
            </form>
        </div>

    </div>
</main>